.box{
    width: 300px;
    height: 100px;
    background-color: pink;
    /* animation-name:  fontanimation;
    animation-duration:2s ;
    animation-timing-function:ease-in;
    animation-delay:0s;
    animation-iteration-count:5;
    animation-direction :alternate; */
    animation: fontanimation 3s ease-in 0s infinite alternate;

}

@keyframes fontanimation{
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}