h1{
    text-align: center;
}
#container{
    height: 500px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*   */
    align-content: flex-start;
}
#red{
    /* flex-grow: 2; */
    flex-shrink: 1;
}
#org{
    align-self: flex-start;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    flex:2 2 100px;
}
#container div{
    height: 100px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 1em;
}