#container{
    height: 400px;
    width: 400px;
    border: 3px solid lightseagreen;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-content: space-evenly;
    border-radius: 10px;
}
#container div{
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: grey;
    border: 5px solid black;
    border-radius: 15px;
    text-align: center;
    
}