.card  {   
    width: 200px;
    height: 200px;
    display: block-inline;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px black;

    
}
img {
    width: 100%;
    height: 100%;
   border-radius: 10px;
}
card:hover{
    box-shadow: 2px 4px 8px black;
}