p{
    background-color: wheat;
    color: #964B00;
    text-align: center;
    line-height: 30px;

}
h1{
    text-align: center;
    color: #f00;
    font-family: georgia;
}
h3{
    text-align: center;
    color: black;
}
a{
    color: rgb(0, 255, 0);
    text-decoration: none;

}
button{
    color: blueviolet;
    background-color: white;
}
textarea{
    color: #000;
}
span{
    text-decoration: underline;
}
