*{
    size: 0rem;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background-color: #023047;
    color: white;
}
.nav-bar{
    background-color: grey  ;
    height: 100vh;
    width: 15rem;
    display: flex;
    justify-content: center;
}
.nav-links{
    line-height: 2rem;
}
.main-content{
    display: flex;
    background-color: #3052f5;
    /* border-radius: 1rem; */
    width: 60rem;
}
.links{
    background-color: #ffb703;
}
.paragraph-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: 57%; 
    left: 89%;
    width:15%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.quiz-button {
    background-color: #3052f5;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 47%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.5s ease-out;
}
.quiz-button:hover,
a:focus {
  background-color: #fff;
  color: #333;
}

.chat-button{
    background-color: #3052f5;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 85%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.5s ease-out;
}
.chat-button:hover{
    background-color: #fff;
  color: #333;
}
.main-body-text {
    text-align: left;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 1200px)
{
    .hide{
        display: none;
    }
}
.sticker{
    position: absolute;
    top: 30%;
    right: 14%;
}
.symbol{
    position: absolute;
    font-size: 50px;
    top: -20%;
    right: 40%;
}
.main-body-text h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 1000;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}
.logo-text{
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    margin: 0;
}
.nav-links {
  margin-left:20px;
  margin-top: 30px;
  line-height: 80px ;

}

.nav-links a {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.nav-links a:hover {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.nav-links a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
}

