@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    /* display: flex; */
    background-color: #fff;
    color: white;
}
.slide{
    height: 100vh;
    width: 15rem;
    position: absolute;
    transition: 0.5s ease;
    left: 0px;
    transform: translate(-30rem);
    background-color: rgb(43, 42, 42);
    opacity: 1;
    z-index: 2;
    
}
 h1{
    color: rgb(185, 14, 97) ;
    font-weight: 750;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
   
    /* padding: 10px 0;
    padding-right:15px ; */
    pointer-events: none;
    font-size: x-large;  
    /* margin-top: 6px; */
   
} 


ul li{
    list-style: none;
}
ul li a{
    color:white ;
    font-weight: 500;
    padding:5px 0 ;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    line-height: 30px;
}
ul li:hover a{
    color: #fff;
    background-color: #8000ff;

}
ul li a i{
    width: 40px;
    text-align:center ;      
}
.social_media{
    position: absolute;
    bottom: 70px;
    padding:20px;
    left: 50px;

}
 input{
    display: none;
    visibility: hidden;
     
 }

 .toggle{
    position: absolute;
    height: 25px;
    width: 25px;
    top: 15px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.toggle .common{
    position:absolute ;
    height:1.8px ;
    width:15px ;
    background-color:rgb(237, 0, 194) ;
    border-radius:40px ;
    transition: 0.3s ease;
}
.toggle .top_line{
    top:30% ;
    left:50% ;
    transform: translate(-50%,-50%);
}
.toggle .middle_line{
    top:50% ;
    left:50% ;
    height: 1.5px;
    transform: translate(-50%,-50%);
}
.toggle .bottom_line{
    top:70% ;
    left:50% ;
    transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top_line{
    left: 1.63px;
    top: 12.5px;
    width: 23px;
    transform: rotate(45deg);
    transition: 0.5s ease;

}
input:checked ~ .toggle .middle_line{
    left: 1.63px;
    top: 12.5px;
    width: 23px;
    transform: rotate(-45deg);
    transition: 0.5s ease;

}
input:checked ~ .toggle .bottom_line{
    opacity: 0;
    transform: translatex(20px);
    transition: 0.5s ease;

}
input:checked ~ .slide{
    transform: translate(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
input:checked ~ .toggle{
    left: 190px;
    transform: matrix(190px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    z-index: 4;

}

.bar{
    margin-top: -11px;
    height: 50px;
    width: 100%;    
    background-color: darkmagenta;  
    z-index: 0.2;
    
    
}
.bar li{
    font-size: 20px;
     margin-left: 160px;
     margin-top: 11px;
     padding-right: 4.5px;
     padding-top: 10px;
}



/* .main-body-text {
    /* top: 20%;
    margin-left: 100px;
    height: 500px;
    width: 500px;
    display: inline-block; */
    /* height: 450px;
    width: 1200px;
    position: absolute;
    left: 40px;
    top: -53px;
    opacity: 1;
    border-radius: 3px;
    box-shadow: 3px; */
    
/* } */ 
.banner{
   height:100vh;
   background-size: auto;
}
.banner img{
    /* font-family: 'poppins',sans-serif;
    font-size: 85px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 200px;
    line-height: -6px; */
    margin-left: -120px;
    /* opacity: 0.9; */
               
}
.banner-txt {
    position: absolute;
    color: white;
    top:25%;
    left: 35px;
}
.banner-txt h1{
  font-size: 60px;
  color: white;
  font-weight: 500;
}

/* .main-body-text  img{
    height: 450px;
    width: 1200px;
    position: absolute;
    left: -10px;
    top: -88px;
    opacity: 0.9;
    border-radius: 3px;
    box-shadow: 3px;
   
} */
/* .sticker{
    position: relative;
    left: 930px;
    transform: translateY(-10px);
    
} */
/* .sticker img{
    height: 300px;
    width: 300px;
    
} */

.paragraph-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 13.5px;
    text-align: center;
    position: absolute;
    top: 60%; 
    left: 89%;
    width:15%;
    transform: translate(-50%, -50%);
    z-index: 1;
} 
 .paragraph-text p{
    position: relative;
    left: 16px;
} 
 .quiz-button {
    background-color: rgb(42, 39, 39);
    color: #3052f5;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 48%;
    right: 3%;
    transform: translateY(-50%);
    z-index: 1;
    /* height: 15px;
    width: 35px; */
 } 
 .chat-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 13.5px;
    text-align: center;
    position: absolute;
    top: 93%; 
    left: 89%;
    width:15%;
    transform: translate(-50%, -50%);
    z-index: 1;

 }
 .chat-text p{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 92%; 
    left: 89.3%;
    width:15%;
    transform: translate(-50%, -50%);
    z-index: 1; */
    position: relative;
    left: 16px;
    
}
 .chat-button{
    background-color: rgb(42, 39, 39);
    color:#3052f5 ;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 84.5%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 1;
} 
.main-body-text {
    text-align: left;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sticker{
    position: absolute;
    top: 30%;
    right: 14%;
}
.main-body-text h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 1000;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}
.logo-text{
    color:#fff ;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    margin: 0;
}
.nav-links {
  margin-left:20px;
  margin-top: 30px;
}

.nav-links a {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    color:  #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.nav-links a:hover {
    color:#fff ;
    text-decoration: none;
    position: relative;
}

.nav-links a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color:#fff ;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
}

.content{
    position: relative;
    margin-top: 3.6rem;
    margin-left: -30px;

}
.content h3{
    margin-left: 100px;
    font-weight: 300;
    font-size: 40px;
    color: black;
    font-family:georgia;
}
.content h2{
    margin-left: 100px;
    font-weight: 50;
    font-size: 24px;
    color: rgb(14, 14, 172);
    font-family:sans-serif;
    padding-top: 20px;
    line-height: 5px;
}
.content p{
    margin-left: 100px;
    font-weight: 20;
    font-size: 20px;
    color: rgb(35, 35, 37);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    line-height: 25px;  
    margin-top: 20px;
} 
.content img{
    position: relative;
    left: 800px;
    bottom: 300px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 300px;
    width: 100%;
}
.footer h4{
    font-family: Cambria,sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer p{
    padding-bottom: 5px;
    color: gray;
}
.media a i{
    color: white;
    padding-right: 3px;
}