h1{
    background-color: yellow;
    border: 2px solid black;
}
@media (max-width:400px){
    h1{
        color: white;
        background-color: red;
    }
}
@media (orientation:landscape){
    h1{
        color: blue;
        background-color: green;
    }
}